includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 0
  paths:
    - admin
    - includes
    - npcink-device-inventory.php
    - uninstall.php
  excludePaths:
    analyse:
      - release (?)
      - vendor
  reportUnmatchedIgnoredErrors: false
