@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: rgba(11, 103, 240, 1);
  }
}

@layer components {
  /*设备详情 mac*/
  .mac {
    @apply border border-gray-300 bg-gradient-to-r from-[#fcfcfc] to-[#f7f7f7];
  }
  /*SVG 图标*/
  .svg {
    @apply w-[1em] h-[1em] mr-1 text-sm;
  }
  /*反转颜色*/
  .svgReversal {
    @apply filter invert-[1] sepia-[1] hue-rotate-[180deg];
  }
  /*设备详情 - 蓝色*/
  .bg_blue {
    @apply from-[rgba(250,251,254,0.66)] to-[#f2f5fb]   border-blue-400 border-opacity-25;
  }
  /*设备详情 - 黄色*/
  .bg_yellow {
    @apply border-gray-300  from-[#fcfcfc] to-[#f7f7f7];
  }
  /*通用 - 按钮*/
  .bt {
    @apply mx-2 px-2 text-base hover:bg-white hover:bg-opacity-10 hover:rounded-lg;
  }
}

/*设备详情*/
.Mac_icon_background_color {
  background: linear-gradient(141deg, #454545 0, #000 100%);
}
.Mac_content_background_color {
  background: linear-gradient(
    140deg,
    #454545 0,
    rgba(70, 70, 70, 0.86) 33%,
    #474747 100%
  );
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
}

.Windows_content_background_color {
  background: linear-gradient(
    142deg,
    #5594ff 0,
    rgba(70, 129, 247, 0.93) 26%,
    #356dee 100%,
    #356dee 100%
  );
  box-shadow: 0 8px 30px 0 rgba(53, 109, 238, 0.3);
}

#root {
  width: 800px;
}
